html {
    background-color: #0f0f0f;
    margin: 0;
    padding: 0;
}



.header {
    height: 100px;
    background-image: linear-gradient(0, #FDB482, #DE591C);
    display: flex;
    justify-content: flex-start;
    
}

.header__text {
    text-decoration: none;
    display: flex; 
    margin-left: 30px;
    font-size: 20px;
}

.header__icon {
    margin-top: 22px;
    font-size: 50px;
    color: red;
}

.header__text-edit {
    margin-top: 27px;
    margin-left: 20px;
    font-weight: 800;
    font-size: 30px;
    color: var(--white-color);
}

.navbar {
    max-height: 50px;   
    
}

.navbar__list {
    text-align: center;

}

.navbar__list-item {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    color: var(--white-color);
    background-color: grey;
    border-radius: 5px; 
    opacity: 1;
}


.navbar__list-item:hover {
    cursor: pointer;
    opacity: 0.5;
}


.slide__video {
    
    width: 500px;
    display: flex;
    flex-direction: column;
    
    height: 1100px;
    position: absolute;
    
}


.slider__video-item {
    margin: 0;
    height: 300px;
    width: 400px;
    color: var(--white-color);
    border-radius: 3px;
    
    margin-top: 24px;
    margin-left: 30px;
    
    background-image: linear-gradient(0, #FDB482, #DE591C);  
}


.slide__video-text {
    margin-left: 40px;
    
}
.slide__img-video {
    height: 60%;
    width: 100%;
    object-fit: contain;
}

.slide__video-icon {
    color: var(--white-color);
    font-size: 20px;
    margin-left: 10px;
}

.content {
    position: relative;
    height: 1100px;
    margin-left: 500px;
    margin-top: 40px;
    border-radius: 3px;
}

.content__item {
    margin-right: 400px;
    
}



.content__item-img {
    height: 500px;
    width: 100%;
    object-fit: contain; 
}

.content__item-text {
    color: var(--white-color);
    margin-left: 27px;
}

.content__long-text {
    width: 950px;
    font-weight: 500;
}

